.app.active,.demo {
  overflow: hidden;
}

.app.active,.login {
  -webkit-transform: scale(1);
}

.app__menu-btn:after,.app__menu-btn:before,.app__month:after,.login__check:before,.login__submit:after,.login__submit1:after {
  content: "";
}

.app__day,.app__top,.app__user-notif,.login__form {
  text-align: center;
}

button,input {
  outline: 0;
  border: none;
}

.demo {
  width: 30rem;
  height: 38rem;
  margin: 38px auto;
}

.login {
  position: relative;
  height: 100%;
  background: -webkit-linear-gradient(top,rgba(146,135,187,.8) 0,rgba(0,0,0,.6) 100%);
  background: linear-gradient(to bottom,rgba(146,135,187,.8) 0,rgba(0,0,0,.6) 100%);
  -webkit-transition: opacity .1s,-webkit-transform .3s cubic-bezier(.17,-.65,.665,1.25);
  transition: opacity .1s,-webkit-transform .3s cubic-bezier(.17,-.65,.665,1.25);
  transition: opacity .1s,transform .3s cubic-bezier(.17,-.65,.665,1.25);
  transition: opacity .1s,transform .3s cubic-bezier(.17,-.65,.665,1.25),-webkit-transform .3s cubic-bezier(.17,-.65,.665,1.25);
  transform: scale(1);
}

.login.inactive {
  opacity: 0;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.login__check {
  position: absolute;
  top: 16rem;
  left: 13.5rem;
  width: 14rem;
  height: 2.8rem;
  background: #fff;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.login__check:before {
  position: absolute;
  left: 0;
  bottom: 100%;
  width: 2.8rem;
  height: 5.2rem;
  background: #fff;
  box-shadow: inset -.2rem -2rem 2rem rgba(0,0,0,.2);
}

.login__form {
  position: absolute;
  top: 30%;
  left: 0;
  width: 100%;
  height: 50%;
  padding: 1.5rem 2.5rem;
}

.login__row {
  height: 5rem;
  padding-top: 1rem;
  border-bottom: 1px solid rgba(255,255,255,.2);
}

.login__icon {
  margin-bottom: -.4rem;
  margin-right: .5rem;
}

.login__icon.name path {
  stroke-dasharray: 73.50196075439453;
  stroke-dashoffset: 73.50196075439453;
  -webkit-animation: animatePath 2s .5s forwards;
  animation: animatePath 2s .5s forwards;
}

.login__icon.pass path {
  stroke-dasharray: 92.10662841796875;
  stroke-dashoffset: 92.10662841796875;
  -webkit-animation: animatePath 2s .5s forwards;
  animation: animatePath 2s .5s forwards;
}

.login__input {
  display: inline-block;
  width: 22rem;
  height: 100%;
  padding-left: 1.5rem;
  font-size: 1.5rem;
  background: 0 0;
  color: #FDFCFD;
}

.login__submit,.login__submit1 {
  position: relative;
  width: 100%;
  height: 4rem;
  margin: 5rem 0 2.2rem;
  color: rgba(255,255,255,.8);
  background: #F36;
  font-size: 1.5rem;
  border-radius: 3rem;
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: width .3s .15s,font-size .1s .15s;
  transition: width .3s .15s,font-size .1s .15s;
}

.app__logout-icon,.login__submit:after,.login__submit1:after {
  margin-left: -1.5rem;
  margin-top: -1.5rem;
}

.login__submit:after,.login__submit1:after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 3rem;
  height: 3rem;
  border: 2px dotted #fff;
  border-radius: 50%;
  border-left: none;
  border-bottom: none;
  -webkit-transition: opacity .1s .4s;
  transition: opacity .1s .4s;
  opacity: 0;
}

.login__submit.processing,.login__submit1.processing {
  width: 4rem;
  font-size: 0;
}

.login__submit.processing:after,.login__submit1.processing:after {
  opacity: 1;
  -webkit-animation: rotate .5s .4s infinite linear;
  animation: rotate .5s .4s infinite linear;
}

.login__submit.success {
  -webkit-transition: opacity .1s .3s,background-color .1s .3s,-webkit-transform .3s .1s ease-out;
  transition: opacity .1s .3s,background-color .1s .3s,-webkit-transform .3s .1s ease-out;
  transition: transform .3s .1s ease-out,opacity .1s .3s,background-color .1s .3s;
  transition: transform .3s .1s ease-out,opacity .1s .3s,background-color .1s .3s,-webkit-transform .3s .1s ease-out;
  -webkit-transform: scale(30);
  transform: scale(30);
  opacity: .9;
}

.login__submit.success:after {
  -webkit-transition: opacity .1s 0s;
  transition: opacity .1s 0s;
  opacity: 0;
  -webkit-animation: none;
  animation: none;
}

.login__signup {
  font-size: 1.2rem;
  color: #ABA8AE;
}

.login__signup a {
  color: #fff;
  cursor: pointer;
}

.app {
  position: relative;
  top: -35px;
  width: 100%;
  height: 100%;
  opacity: 0;
  display: none;
  -webkit-transition: opacity .1s,-webkit-transform .3s cubic-bezier(.68,-.45,.465,1.25);
  transition: opacity .1s,-webkit-transform .3s cubic-bezier(.68,-.45,.465,1.25);
  transition: opacity .1s,transform .3s cubic-bezier(.68,-.45,.465,1.25);
  transition: opacity .1s,transform .3s cubic-bezier(.68,-.45,.465,1.25),-webkit-transform .3s cubic-bezier(.68,-.45,.465,1.25);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.app.active {
  width: 30rem;
  height: 38rem;
  margin: 38px auto;
  opacity: 1;
  transform: scale(1);
}

.app.active .app__user-photo {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.app.active .app__meeting {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

.app.active .app__logout {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.app__top {
  position: relative;
  height: 12rem;
  background: rgba(0,0,0,.5);
  padding: 2.5rem 1.5rem 2rem;
}

.app__bot {
  position: relative;
  height: 26rem;
  background: #fff;
}

.app__menu-btn {
  position: absolute;
  top: 2rem;
  left: 1.5rem;
  width: 1.8rem;
  height: 1.7rem;
  cursor: pointer;
}

.app__menu-btn span,.app__menu-btn:after,.app__menu-btn:before {
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background: rgba(255,255,255,.6);
}

.app__menu-btn span {
  top: .8rem;
}

.app__menu-btn:before {
  top: 0;
}

.app__menu-btn:after {
  bottom: 0;
}

.app__icon {
  position: absolute;
  top: 2rem;
}

.app__icon.search {
  right: 1.5rem;
  stroke-dasharray: 61.847137451171875;
  stroke-dashoffset: 61.847137451171875;
  -webkit-animation: animatePath .5s .5s forwards;
  animation: animatePath .5s .5s forwards;
}

.app__hello {
  font-size: 15px;
  color: #fff;
  font-weight: 400;
  margin-bottom: 3rem;
}

.app__user {
  position: relative;
  display: inline-block;
  width: 9rem;
  height: 9rem;
  margin-bottom: 3rem;
}

.app__user-photo {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-transition: -webkit-transform .3s .2s cubic-bezier(.62,.35,.56,1.55);
  transition: -webkit-transform .3s .2s cubic-bezier(.62,.35,.56,1.55);
  transition: transform .3s .2s cubic-bezier(.62,.35,.56,1.55);
  transition: transform .3s .2s cubic-bezier(.62,.35,.56,1.55),-webkit-transform .3s .2s cubic-bezier(.62,.35,.56,1.55);
  -webkit-transform: scale(0);
  transform: scale(0);
}

.app__user-notif {
  position: absolute;
  top: 0;
  right: 0;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  line-height: 3rem;
  background: #50D2C2;
  color: #fff;
  font-size: 1.5rem;
}

.app__month:after {
  display: table;
  clear: both;
}

.app__month-name {
  display: inline-block;
  color: rgba(255,255,255,.6);
  font-size: 1.2rem;
  text-transform: uppercase;
}

.app__month-btn {
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  border: 1px solid rgba(255,255,255,.6);
  border-left: none;
  border-bottom: none;
  cursor: pointer;
}

.app__month-btn.left {
  float: left;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.app__month-btn.right {
  float: right;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.app__days {
  height: 7rem;
  padding: 1.5rem 2rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.app__day {
  width: 14%;
  font-size: 1.2rem;
}

.app__day.weekday {
  color: #919197;
  text-transform: uppercase;
}

.app__day.date {
  font-size: 1.2rem;
  font-weight: 700;
  color: #3C3C43;
}

.app__meeting {
  position: relative;
  height: 6rem;
  border-top: 1px solid #EEEEEF;
  padding: 2rem 2rem 1rem 1rem;
  -webkit-transition: opacity .3s,-webkit-transform .3s;
  transition: opacity .3s,-webkit-transform .3s;
  transition: transform .3s,opacity .3s;
  transition: transform .3s,opacity .3s,-webkit-transform .3s;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 0;
}

.app__meeting:nth-child(1) {
  -webkit-transition-delay: .2s;
  transition-delay: .2s;
}

.app__meeting:nth-child(2) {
  -webkit-transition-delay: .3s;
  transition-delay: .3s;
}

.app__meeting:nth-child(3) {
  -webkit-transition-delay: .4s;
  transition-delay: .4s;
}

.app__meeting:nth-child(4) {
  -webkit-transition-delay: .5s;
  transition-delay: .5s;
}

.app__meeting:nth-child(5) {
  -webkit-transition-delay: .6s;
  transition-delay: .6s;
}

.app__meeting-photo {
  position: absolute;
  left: 2rem;
  top: 1.5rem;
  width: 4rem;
  height: 4rem;
  font-size: 27px;
  color: #a9a9a9;
}

.app__meeting-name {
  color: #000;
  font-size: 1.3rem;
  padding-left: 58px;
}

.app__meeting-info {
  color: #949498;
  font-size: 1.1rem;
}

.app__logout {
  position: absolute;
  bottom: 3.3rem;
  right: 3.3rem;
  width: 4.6rem;
  height: 4.6rem;
  margin-right: -2.3rem;
  margin-bottom: -2.3rem;
  background: #FC3768;
  color: #fff;
  font-size: 2rem;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: bottom .4s .1s,right .4s .1s,opacity .1s .7s,background-color .1s .7s,-webkit-transform .4s .4s;
  transition: bottom .4s .1s,right .4s .1s,opacity .1s .7s,background-color .1s .7s,-webkit-transform .4s .4s;
  transition: bottom .4s .1s,right .4s .1s,transform .4s .4s,opacity .1s .7s,background-color .1s .7s;
  transition: bottom .4s .1s,right .4s .1s,transform .4s .4s,opacity .1s .7s,background-color .1s .7s,-webkit-transform .4s .4s;
  -webkit-transform: scale(0);
  transform: scale(0);
}

.app__logout.clicked {
  bottom: 50%;
  right: 50%;
  -webkit-transform: scale(30)!important;
  transform: scale(30)!important;
  opacity: .9;
}

.app__logout.clicked svg {
  opacity: 0;
}

.app__logout-icon {
  position: absolute;
  width: 3rem;
  height: 3rem;
  top: 50%;
  left: 50%;
  -webkit-transition: opacity .1s;
  transition: opacity .1s;
}

.app__logout-icon path {
  stroke-width: 4px;
  stroke-dasharray: 64.36235046386719;
  stroke-dashoffset: 64.36235046386719;
  -webkit-animation: animatePath .5s .5s forwards;
  animation: animatePath .5s .5s forwards;
}

.ripple {
  position: absolute;
  width: 15rem;
  height: 15rem;
  margin-left: -7.5rem;
  margin-top: -7.5rem;
  background: rgba(0,0,0,.4);
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-animation: animRipple .4s;
  animation: animRipple .4s;
  border-radius: 50%;
}

@-webkit-keyframes animRipple {
  to {
    -webkit-transform: scale(3.5);
    transform: scale(3.5);
    opacity: 0;
  }
}

@keyframes animRipple {
  to {
    -webkit-transform: scale(3.5);
    transform: scale(3.5);
    opacity: 0;
  }
}

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes animatePath {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes animatePath {
  to {
    stroke-dashoffset: 0;
  }
}